body {
	background: black;
	color: white;
}
.displayed {
	display: block;
	/*missing spaces after :*/
	margin-left:auto;
	margin-right:auto;
	max-height:50%; 
	max-width:50%; }

/*
put closing }s on their own line so 

.displayed {
	display: block;
	margin-left:auto;
	margin-right:auto;
	max-height:50%; 
	max-width:50%; 
}
*/

.navbar {
  text-align:center;
  width: 300px;
  margin: 0 auto;
}
ul{
	list-style-type:none; }
h1 {
	font-family: 'Brush Script MT', cursive;
	text-align: center; }
h2 {
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded';
	font-style: normal;
	font-size:25;
	font-variant: normal; }
h3, h4, h5 {
	font-family: 'Segoe UI', Arial;
	font-style: normal;
	font-size:15;
	font-variant: normal;
	text-align:center; }

