header {
	position: fixed;
	background-color: blue;
	width: 100%;
	font-size: 78px;
	color: white;
	/*transition: all 3.5s ease;*/
	transition: font-size 4.5s, background-color 3.5s ease;
}

header.sticky {
	background-color: red;
	font-size: 24px;
}