.container{
	width:90%;
	margin:0 auto;
	font-family: 'Amatic SC', cursive;}
#page-header{
	overflow:hidden;
	padding:5px 25px;}
h1{
	font-size:4em;}
.storybox{
	display:block;
	width:100%;
	width:50%;
}
.storybox img{
	float:left;
	display:inline;
	width:25%;
	margin:10px;
	padding:10px;
	border:10px;}
.storybox p{
	float:right;
	display:inline;
	width:50%;
	text-align:justify;
	vertical-align:middle;
	margin:10px;
	padding:10px;
	border:10px;}
footer nav{
	display:inline-block;
	font-size:3em;
	word-spacing:3em;
	color:black;
	text-decoration:none;
}
footer nav ul{
	list-style-type:none;}
footer nav li{
	float:right;}