body{
	font-family: 'Sigmar One', cursive;}
.container{
	width:95%;
}
h1{
	text-align: center;}
.box{
	display:inline-block;
	float:left;
	width:45%;
	padding:1%;
	margin:1%;
	border:1%;}
.output{
	display:inline-block;
	float:right;
	width:45%;
	padding:1%;
	margin:1%;
	border:1%;}
.clear{
	clear:both;
}