
.container{
	width:1200px;
}
header {
	background:red;
	height:100px;
	margin-bottom:25px;	
}
main {
	background:yellow;
	height:250px;
	width:775px;
	float:left;
	margin-bottom:25px;
}
aside {
	background:green;
	height:250px;
	width:400px;
	float:right;
	margin-bottom:25px;
}
footer{
	background:blue;
	height:100px;
	clear:both;
}