.container{
	width:1200px;
	height:auto;
	font-family: 'Amatic SC', cursive;}
#page-header{
	overflow:hidden;}
h1{
	font-size:4em;}
nav{
	display:inline-block;
	width:100%;
	height:100px;
	margin:25px;
	font-size:3em;
	color:black;
}
nav ul{
	list-style-type:none;}
nav li{
	float:right;}