.container{
	width:100%;
	margin:0 auto;
	font-family: 'Amatic SC', cursive;}
#page-header{
	overflow:hidden;
	padding:5px 25px;}
h1{
	font-size:4em;}
.storybox{
	display:block;
	width:80%;
	overflow: hidden;}
.storybox p{
	display:inline-block;
	width:75%;
	text-align: justify;
	padding:15px;
	margin:15px;}
.storybox img{
	display:inline;
	width:25%;
	padding:25px;
	margin:15px;
	float:left;}
.clear{
	overflow:auto;}
footer{
	float:right;
	padding:15px;
	margin:5px;
	font-size:3em;
	text-decoration:none;}
nav{
	display:block;
	width:100%;
	float:right;}
nav ul{
	list-style-type:none;}
nav li{
	word-spacing:5em;
	display:inline-block;
	padding:5px;
	margin:10px;}
nav li a{
	text-decoration:none;
}